<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Orders - Tiger Analytics</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/ico.ico')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='img/tig.jpg')}}" height="50px"> Tiger
            eCommerce</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <strong><b><i class="fa-solid fa-align-right"></i></b></strong>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="home">
                    <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products"><i class="fa-brands fa-product-hunt"></i> Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-list"></i> Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {%for i in listCat %}

                        <a class="dropdown-item" href="viewCat?id={{i['_id']}}"><i class="fa-solid fa-arrow-right"></i>
                            {{i['catName']}}</a>
                        {%endfor%}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_orders"><i class="fa-solid fa-arrow-down-wide-short"></i> My
                        Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.tigeranalytics.com/"><i
                            class="fa-solid fa-earth-asia"></i></i> Company
                        Website</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="viewCart"><i class="fas fa-shopping-cart"></i> My Cart</a>
                </li>


            </ul>

        </div>
        <li class="nav-item d-flex flex-row-reverse">

            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="%" id="navbarinsha" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><span class="fa fa-user "></span> Welcome, {{value}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarinsha">
                        <li><a class="dropdown-item" href="profile"><span class="fa fa-user-circle "></span> Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="/user_orders"><span
                                    class="fa fa-arrow-down-wide-short"></span> My
                                Orders</a></li>
                        <li><a class="dropdown-item" href="ch_pass"><span class="fa fa-key "></span> Change Password</a>
                        </li>

                        <hr />
                        <li><a class="dropdown-item" href="logout"><span class="fa fa-sign-out "></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </li>

    </nav>
</head>





<body class="gradient-custom-2">

    <section style="background-color: #eee;" class="container card">
        <h1><i class="fa-solid fa-boxes-packing"></i> My Orders</h1>
        <h2>Indicators</h2>
        <div class="row col-md-12">
            <div class="col-md-3">
                <div class="p-1 m-1 bg-primary text-white">Ordered</div>

            </div>
            <div class="col-md-3">
                <div class="p-1 m-1 bg-warning text-dark">Shipped</div>

            </div>
            <div class="col-md-3">
                <div class="p-1 m-1 bg-success text-white">Delivered</div>

            </div>
            <div class="col-md-3">
                <div class="p-1 m-1 bg-danger text-white">Cancelled</div>

            </div>


        </div>

        <hr>
        <table class="table table-bordered table-hover" id="tblDefault">
            <thead class="table-dark">
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Order Status</th>

                <th>View</th>
            </thead>
            <tbody>
                {% for order in orders%}
                <tr {%if order['orderStatus']=='Ordered' %} class="bg-primary text-white" {%endif %} {%if
                    order['orderStatus']=='Cancelled' %} class="bg-danger text-white" {%endif %} {%if
                    order['orderStatus']=='Shipped' %} class="bg-warning text-dark" {%endif %} {%if
                    order['orderStatus']=='Delivered' %} class="bg-success text-dark" {%endif %}>
                    <td>{{order['_id']}}</td>
                    <td>{{order['orderDate']}}</td>
                    <td>{{order['orderStatus']}}</td>

                    <td> <a href="viewOrder?id={{order['_id']}}"><button class="btn btn-primary fw-bold"><i
                                    class="fa-solid fa-eye"></i> View Order</button></a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </section>
</body>
<script>
    $(document).ready(function () {
        $('#tblDefault').DataTable({
            "order": [[1, "desc"]]
        });
    });


</script>

</html>